.signinpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/hero.webp);
  background-size: cover;
  height: 100vh;
}
.signinform {
  background-color: #efc075;
  width: 50%;
  padding: 1rem;
}
.signininputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-top: none;
  width: 100%;
}

.signininputs input {
  padding: 0.8rem;
  width: 100%;
  border-radius: 16px;
}
.submit {
  color: #fff;
  background-color: #000;
  padding: 0.7rem;
  width: 100%;
  font-size: 1.2rem;
}
