.herocontainer {
  height: 100vh;
  background-image: url(../../assets/hero.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heroheading h1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.heroinputs {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.5rem;
  margin-left: 10rem;
}
.heroinputs input {
  padding: 1rem;
  width: 40rem;
  padding-left: 5rem;
  font-size: 1rem;
}
.heroinputs select {
  padding: 1rem;
  font-size: 1rem;
}
.heroinputs button {
  background-color: #000000;
  color: #ffffff;
  padding: 1rem;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-width: 100%;
}
.productscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 0.3px gold;
  transition: all ease-out 0.5s;
  background-color: #ebe9e1;
}
.productscontainer:hover {
  scale: 1.01;
}
.productscontainer img {
  max-width: 100%;
}
.productscontainer button {
  padding: 0.3rem;
  margin-bottom: 0.6rem;
  background-color: gold;
  font-weight: 600;
  width: 100%;
  border-radius: 24px;
}
.productscontainer button:hover {
  background-color: rgb(189, 174, 87);
}
.pricenow {
  font-weight: 700;
}
