.Adminproducts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-width: 100%;
}
.Adminproductscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 3px gold;
  background-color: #ebe9e1;
  width: 15rem;
}
.Adminproductscontainer img {
  max-width: 100%;
}
.adminoperationButtons {
  padding: 0.3rem;
  margin-bottom: 0.6rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-weight: 600;
}
.editbtn {
  background-color: gold;
  padding: 0.5rem;
  border-radius: 20px;
  width: 5rem;
}

.delbtn {
  background-color: red;
  color: #fff;
  border-radius: 20px;
  width: 5rem;
}
.addProductbtn{
  background-color: beige;
  padding: 1rem 1rem;
  height: 20rem;
  font-size: 8rem;
  width: 15rem;
  justify-content: center;
  align-items: center;
}
