.cart-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-width: 100%;
}
.cart-item{
    background-color: antiquewhite;
    padding: 1rem;
}